<a class='{{#if markCurrentPage}}search-view-item-selected {{/if}}to-page-link btn border border-primary p-1 m-2' style='min-width: 50px;' data-remote="true" rel="nofollow" data-method="post" href="{{query}}">{{page_text}}</a>
